@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 248, 250, 252;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #f8fafc;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
  background-image: 
    radial-gradient(at 40% 20%, hsla(230, 100%, 94%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(250, 100%, 96%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(260, 100%, 96%, 1) 0px, transparent 50%);
  min-height: 100vh;
  font-feature-settings: "rlig" 1, "calt" 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
